.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  min-height: 100vh;
}

.main2 {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 12px;
}

.logout {
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  margin-right: -25px;
}

.input {
  width: 30% !important;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 100%;
  gap: 12px;
}

.transcriptSummary{
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.texts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

}

.loadingIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}