.threadBox {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 8px;
  padding-bottom: 16px;
  margin-left: 12px;
  margin-right: 12px;
  width: 90%;
}

.threadBoxButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.tweet__editor {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
